[Desktop Entry]
Version=1.0
Name=jnovel unofficial
GenericName=jnovel unofficial
Comment=this app is unofficial jnovel app. scroll through thousands of light-novels  and manga
Terminal=false
Type=Application
Categories=internet
Keywords=light novels;novels;books,chinese novels , asian novels;
